*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #606c38;
    color: #fff
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("photos/background_pic.jpg");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #bc6c25;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background-color: #fefae0;
    border-radius: 10px;
    display: inline-block;
    padding: 2px 8px;
}

nav ul a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    text-shadow:
    -2px -2px 0 black, /* Top-left */
    2px -2px 0 black,  /* Top-right */
    -2px 2px 0 black,  /* Bottom-left */
    2px 2px 0 black;   /* Bottom-right */
    font-weight: bold;
}

.header-text h1 span{
    color:#fefae0;
    text-shadow:
    -2px -2px 0 black, /* Top-left */
    2px -2px 0 black,  /* Top-right */
    -2px 2px 0 black,  /* Bottom-left */
    2px 2px 0 black;   /* Bottom-right */
}

.header-text p{
    text-shadow:
    -1px -1px 0 black, /* Top-left */
    1px -1px 0 black,  /* Top-right */
    -1px 1px 0 black,  /* Bottom-left */
    1px 1px 0 black;   /* Bottom-right */
    font-size: 30px;
    font-weight: bold;
}

/* -------- About ---------- */

#about {
    padding: 80px 0;
    color: #fefae0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #283618;
}

.about-me{
    margin-top: 30px;
    width: 60%;
    margin-bottom: 40px;
    line-height: 1.5;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #dda15e;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #dda15e;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* -------- Experiences -------- */
#mywork {
  padding: 5px 0;
}

.experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.experience-tile {
  background: #fefae0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease;
}

.experience-tile:hover {
  transform: translateY(-10px);
  background: #dda15e;
}

.experience-tile img {
  width: auto;
  height: 60px;
  margin-bottom: 1rem;
}

.experience-tile h3 {
  font-size: 1;
  color: #bc6c25;
  margin-bottom: 1rem;
}

.experience-tile ul {
    list-style: circle;
    margin-left: 10px;
    color: #bc6c25;
    font-weight: 300;
}

/* ------------- Services --------- */

#services{
    padding: 100px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #fefae0;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #bc6c25;
}

.tile-header{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #bc6c25;
}

.tile-link{
    color: #bc6c25;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: underline;
}

.services-list div:hover{
    background: #dda15e;
    transform: translateY(-10px);
}

.tile-text {
    font-size: 15px;
    color: #bc6c25;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Info */
#info {
    padding: 10px 0;
}

/* Fun stuff */

.fun-stuff {
  padding: 80px 10%;
}

.grid-tile {
  margin-top: 40px;
  background: #fefae0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease;
}

.responsive-video {
  margin-top: 30px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}